.fileupload-non-image-container {
    margin-bottom: 2mm;
}

.fileupload-images-container {
    margin-top: 2mm;
}

.fileupload-images {
    float: left;
    width: 47%;
    padding: 0 1.5% 3%;
}

.gf_left_half .fileupload-images,
.gf_right_half .fileupload-images,
.gf_left_third .fileupload-images,
.gf_middle_third .fileupload-images,
.gf_right_third .fileupload-images,
.gf_first_quarter .fileupload-images,
.gf_second_quarter .fileupload-images,
.gf_third_quarter .fileupload-images,
.gf_fourth_quarter .fileupload-images {
    float: none;
    width: 100%;
    padding: 0 0 3%;
}